<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/067eb283-bf3c-4d6a-a313-416daa7bb94f/resourcegroups/RAMPS/providers/Microsoft.ContainerRegistry/registries/RecipeMealInfrastructure20250119152144</ResourceId>
    <ResourceName>RecipeMealInfrastructure20250119152144</ResourceName>
    <ResourceGroup>RAMPS</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>recipemealinfrastructure20250119152144.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>